<html>
	<head>
		<title>Web-science</title>
		<link href="/static/css/base.css" type="text/css" rel="stylesheet" media="all">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<a href="/"><h1>Web-Science</h1></a>
				<nav>
					<ul>
						<li><a href="#">Discover</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="/blog/">Blog</a></li>
					</ul>
					<ul>
						<li><div class="button" onclick="GuiController.loginWindow();">Log In</div></li>
						<li><div class="button" onclick="GuiController.showWindow();">Sign Up</div></li>
					</ul>
				</nav>
			</div>
		</header>
		{% block content %}
		{% endblock %}
        <footer> 
            <div class="foot_wrapper"></div>
        </footer>
	</body>
	<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/js/controllers.js"></script>
</html>
