{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="block">
		<div class="top_content">
			<div class="left"> 
				<div class="profile_block">
					<div class="profile_top">
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Dmytro Kostyk</h3>
						<div class="profile_nav">
							<span onclick="GuiController.showTabs('profile',1)">Profile</span>
							<span onclick="GuiController.showTabs('posts',1)">Posts</span>
						</div>
						<div class="profile_posts">
						<div class="user_profile" style="display: block;" id="uProfile1">
							<span class="title">Location: </span><span>Lviv</span><br><br>
							<span class="title">Date: </span><span>09.12.1992</span><br><br>
							<span class="title">Count Posts: </span><span>265</span>
						</div>
						<div class="user_last_posts" style="display: none;" id="uPosts1">
							<div class="one_post">
								<span>Date</span>
							</div>
							<div class="one_post">
								<span>Date</span>
							</div>
						</div>
					</div>
					</div>
					
				</div>
				<div class="profile_block">
					<div class="profile_top">
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Dmytro Kostyk</h3>
						<div class="profile_nav">
							<span onclick="GuiController.showTabs('profile',2)">Profile</span>
							<span onclick="GuiController.showTabs('posts',2)">Posts</span>
						</div>
						<div class="profile_posts">
						<div class="user_profile" style="display: block;" id='uProfile2'>
							<span class="title">Location: </span><span>Lviv</span><br><br>
							<span class="title">Date: </span><span>09.12.1992</span><br><br>
							<span class="title">Count Posts: </span><span>265</span>
						</div>
						<div class="user_last_posts" style="display: none;" id="uPosts2">
							<div class="one_post">
								<span>Date</span>
							</div>
							<div class="one_post">
								<span>Date</span>
							</div>
						</div>
					</div>
					</div>
					
				</div>
				<div class="profile_block">
					<div class="profile_top">
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Dmytro Kostyk</h3>
						<div class="profile_nav">
							<span onclick="GuiController.showTabs('profile',3)">Profile</span>
							<span onclick="GuiController.showTabs('posts',3)">Posts</span>
						</div>
						<div class="profile_posts">
						<div class="user_profile" style="display: block;" id="uProfile3">
							<span class="title">Location: </span><span>Lviv</span><br><br>
							<span class="title">Date: </span><span>09.12.1992</span><br><br>
							<span class="title">Count Posts: </span><span>265</span>
						</div>
						<div class="user_last_posts" style="display: none;" id="uPosts3">
							<div class="one_post">
								<span>Date</span>
							</div>
							<div class="one_post">
								<span>Date</span>
							</div>
						</div>
					</div>
					</div>
					
				</div>
			</div>
			<div class="right"> </div>
		</div>
	</div>
</div>
{% endblock %}
