{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="block">
		<div class="top_content">
			<div class="left"> 
			{% for profile in profiles %}	
				<div class="profile_block">
					<div class="profile_top">
						<img src="{{ profile.profile_picture_url }}" class="round" />
						<h3>{{ profile.user.username }}</h3>
						<div class="profile_nav">
							<span onclick="GuiController.showTabs('profile',{{ profile.user.id }})">Profile</span>
							<span onclick="GuiController.showTabs('posts',{{ profile.user.id }})">Posts</span>
						</div>
						<div class="profile_posts">
						<div class="user_profile" style="display: block;" id="uProfile{{ profile.user.id }}">
							<span class="title">Location: </span><span>{{ profile.location }}</span><br><br>
							<span class="title">Date: </span><span>{{ profile.date_of_birthday }}</span><br><br>
							<span class="title">Count Posts: </span><span>265</span>
						</div>
						<div class="user_last_posts" style="display: none;" id="uPosts{{ profile.user.id }}">
							<div class="one_post">
								<span>Date</span>
							</div>
							<div class="one_post">
								<span>Date</span>
							</div>
						</div>
					</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="right">
				<ul>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Examples</a></li>
				</ul>
				<ul class="social_links">
					<li><a href="#" class="twitter_link">Twitter</a></li>
					<li><a href="#" class="facebook_link">Facebook</a></li>
				</ul>
			</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
