{% extends "base.html" %}
{% block content %}
<div class="content">
	<div class="block">
		<div class="top_content">
			<div class="left"> 
				<div class="profile_block">
					<div class="profile_top">
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Dmytro Kostyk</h3>
						<div class="profile_nav">
							<a href="#">Profile</a>
							<a href="#">Posts</a>
						</div>
					</div>
					
				</div>
				<div class="profile_block">
					<div class = "profile_top" >
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Ivan Lavriv</h3>
						<div class="profile_nav">
							<a href="#">Profile</a>
							<a href="#">Posts</a>
						</div>
					</div>
					<div class="profile_posts">
						<div class="post"></div>
					</div>
				</div>
				<div class="profile_block">
					<div class = "profile_top">
						<img src="/static/img/BsZI9l1gWwI.jpg" class="round" />
						<h3>Test Name</h3>
						<div class="profile_nav">
							<a href="#">Profile</a>
							<a href="#">Posts</a>
						</div>
					</div>
				</div>
			</div>
			<div class="right"> </div>
		</div>
	</div>
</div>
{% endblock %}
